.header {
    display: flex;
    position: fixed;
    margin: 15px;
    width: 100%;
}

.title {
    padding: 0px 20px;
    font-size: 2vmax;
    color: navy;
}

.header__navi {
    display: inline;
    margin: 5px 0 0 auto;
    color: navy;
    font-weight: bold;
    font-size: 1.2vmax;
}

.header__navi--list {
    display: flex;
    padding: 0 30px;
}

.header__navi--item {
    padding: 0 10px;
}

.image {
    margin: 0 0 0 auto;
    width: 50vw;
}

.image img {
    position: relative;
    z-index: 10;
    top: 100px;
    width: 100%;
    height: 100%;
}

.concept-box{
    position: absolute;
    width: 50vw;
}

.concept {
    color: navy;
    font-size: 5vw;
}

.box {
    width: 80vw;
    height: 150px;
    background-color: navy;
}